---
import Layout from "../layouts/Layout.astro";
// import { schema } from '../lib/settings';
---

<script>
  import { getSettings, setSettings } from "../lib/settings"

  document.addEventListener('change', (e) => {
    const { target } = e; 
    const settings = getSettings();
    let value;
    if (target.type === 'checkbox') value = target.checked;
    else value = target.value;
    
    if (value !== undefined) {
      settings[target.name] = value;
      setSettings(settings);
    }
  });

  function getInput(name, value = '') {
    return document.querySelector(`input[name="${name}"]${value && `[value="${value}"]`}`);
  }

  const settings = getSettings();
  
  getInput('includePriest').checked = settings.includePriest;
  getInput('alone').checked = settings.alone;
  getInput('royalPrayers').checked = settings.royalPrayers;
  getInput('governmentPrayers').checked = settings.governmentPrayers;
  getInput('introSentences', settings.introSentences).checked = settings.introSentences;
  getInput('autoReload').checked = settings.autoReload;
  getInput('eveningStartsAt').value = settings.eveningStartsAt;

  // Call setSettings() to clear the usingDefaultSettings: true
  if (settings.usingDefaultSettings) setSettings(settings);
</script>
<Layout title="Settings">
  <!-- <>
  {Object.entries(schema).forEach((setting) => (
   <label for={setting[0]}>{setting[0]}</label>
  ))}
  </> -->
  <form>
    <div class="setting">
      <label>
        Include priest only sections
        <input type="checkbox" name="includePriest" aria-describedby="includePriestDesc" />
      </label>
      <div id="includePriestDesc" class="setting-desc">Whether or not to show sections that should only be read by a priest.</div>
    </div>

    <div class="setting">
      <label>
        Reading alone
        <input type="checkbox" name="alone" aria-describedby="aloneDesc" />
      </label>
      <div id="aloneDesc" class="setting-desc">If you normally do the daily office on your own then turn this on to hide parts only applicable to group settings.</div>
    </div>

    <div class="setting">
      <label>
        Intro verses
        <br />
        <input type="radio" name="introSentences" value="INTRO_RANDOM" aria-describedby="introSentencesDesc" /> Randomise
        <br />
        <input type="radio" name="introSentences" value="INTRO_ALL" aria-describedby="introSentencesDesc" /> All
      </label>
      <div id="introSentencesDesc" class="setting-desc">Show all introductory verses or randomly choose one to display</div>
    </div>

    <div class="setting">
      <label>
        Prayers for British Monarch/Royal family
        <input type="checkbox" name="royalPrayers" />
      </label>
      <div id="royalPrayersDesc" class="setting-desc">Include prayers for the British monarch and Royal Family</div>
    </div>

    <div class="setting">
      <label>
        Prayers for Government
        <input type="checkbox" name="governmentPrayers" />
      </label>
      <div id="royalPrayersDesc" class="setting-desc">Include prayers for the government and other civil authorities</div>
    </div>

    <div class="setting">
      <label>
        Auto-reload
        <input type="checkbox" name="autoReload" aria-describedby="autoReloadDesc" />
      </label>
      <div id="autoReloadDesc" class="setting-desc">When the time goes from morning to evening or into the next day automatically reload the page to display the correct daily office content.</div>
    </div>
    <div class="setting">
      <label>
        Show evening prayers from
        <input type="number" min="12" max="17" name="eveningStartsAt" aria-describedby="eveningStartsAtDesc" />
      </label>
      <div id="eveningStartsAtDesc" class="setting-desc">The hour from which the evening prayers should be shown (24h format, e.g. "16" is 4pm)</div>
    </div>
  </form>
</Layout>

<style>
  label {
    display: block;
    margin-bottom: .5rem;
  }
  .setting {
    padding: .5em;
    margin-bottom: 1rem;
    background-color: #ebeae8;
  }
  .setting-desc {
		font-style: italic;
		font-size: smaller;
	}
  @media (prefers-color-scheme: dark) {
    .setting {
      background-color: #232323;
    }
  }
</style>