<script>
let scrollPos = 0;
let interval = 100;
let intervalId;

function play() {
  if (!intervalId) {
    intervalId = window.setInterval(() => {
      window.scrollTo(0, scrollPos++);
      console.log(scrollPos);
      if ((document.body.clientHeight - window.screen.availHeight) <= scrollPos) {
        window.clearInterval(intervalId);
        intervalId = undefined;
      }
    }, interval);
  }
}

function pause() {
  window.clearInterval(intervalId);
  intervalId = undefined;
  document.getElementById('controls-play').innerText = 'play';
}

function speed(adj) {
  const newInterval = Math.round(interval * adj);
  if (newInterval < 10 || newInterval > 200) return;
  pause();
  interval = newInterval;
  console.log(interval);
  play();
}

document.getElementById('controls-play').addEventListener('click', (e) => {
  if (!intervalId) {
    play();
    e.target.innerText = 'pause';
  } else {
    pause();
    e.target.innerText = 'play';
  }
});

document.getElementById('controls-slower').addEventListener('click', () => {
  speed(1.2);
});
document.getElementById('controls-faster').addEventListener('click', () => {
  speed(0.8);
});

window.addEventListener('mousewheel', (e) => {
  const bounds = document.body.getBoundingClientRect();
  scrollPos = Math.abs(bounds.top);
  pause();
});
</script>

<div class="controls">
  <button id="controls-slower">-</button>
  <button id="controls-play">play</button>
  <button id="controls-faster">+</button>
</div>

<style>
  .controls {
    position: fixed;
    top: 12px;
    left: 12px;
  }

  .controls button {
    color: inherit;
    background-color: var(--dark-mode-bg-light);
    padding: 6px;
    line-height: .8em;
    border: 1px solid currentColor;
    border-radius: 4px;
    cursor: pointer;
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--dark-mode-bg-color);
  }
</style>
