<p id="first-visit-blurb" class="instructions" style="display: none">
  Welcome to the 1662 BCP Daily Office online! You haven't saved any personal settings yet so we'll use the 
  default settings for now. Feel free to <a href="/settings">change your settings here</a>.
</p>

<style>
  p {
    border: 1px solid;
    padding: 1em;
    border-radius: 4px;
    background-color: #ecf8ff;
    color: #2d58bb;
  }
  @media (prefers-color-scheme: dark) {
    p {
      background-color: #00000045;
      color: inherit;
    }
  }
</style>