---
import { getEntryBySlug } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import SettingsBlurb from "../../components/SettingsBlurb.astro";
import Controls from "../../components/Controls.astro";
import {
  getMorningLessons,
  // getMorningPsalms,
} from "../../lib/bibleQueries";
import { formatVerse } from "../../lib/utils";

const { date } = Astro.params;

const now = new Date(date);
// const psalms = getMorningPsalms(now);
const psalms = await getEntryBySlug(
  "psalms",
  `day-${now.getDate()}-morning-prayer`
);
const { Content: Psalms } = await psalms.render();

const { lesson1, lesson2 } = getMorningLessons(now);
// console.log(lesson1, lesson2);
---

<script>
  import { initUI } from "../../lib/utils";
  initUI();
</script>

<Layout title="MATTINS for " Info={SettingsBlurb}>
  <Controls />
  <section id="intro-sentences">
    <p>
      When the wicked man turneth away from his wickedness that he hath
      committed, and doeth that which is lawful and right, he shall save his
      soul alive. <cite>Ezekiel 18:27</cite>
    </p>
    <p>
      I acknowledge my transgressions, and my sin is ever before me. <cite
        >Psalm 51:3</cite
      >
    </p>
    <p>
      Hide thy face from my sins, and blot out all mine iniquities. <cite
        >Psalm 51:9</cite
      >
    </p>
    <p>
      The sacrifices of God are a broken spirit, a broken and a contrite heart,
      O God, thou wilt not despise. <cite>Psalm 51:17</cite>
    </p>
    <p>
      Rend your heart, and not your garments, and turn unto the Lord your God:
      for he is gracious and merciful, slow to anger, and of great kindness, and
      repenteth him of the evil. <cite>Joel 2:13</cite>
    </p>
    <p>
      To the Lord our God belong mercies and forgivenesses, though we have
      rebelled against him: neither have we obeyed the voice of the Lord our
      God, to walk in his laws which he set before us. <cite>Daniel 9:9-10</cite
      >
    </p>
    <p>
      O Lord, correct me, but with judgement; not in thine anger, lest thou
      bring me to nothing. <cite>Jeremiah 10:24 ; Psalm 6:1</cite>
    </p>
    <p>
      Repent ye; for the Kingdom of heaven is at hand. <cite>Matt 3:2</cite>
    </p>
    <p>
      I will arise and go to my father, and will say unto him, “Father, I have
      sinned against heaven, and before thee, and am no more worthy to be called
      thy son.” <cite>Luke 15:18-19</cite>
    </p>
    <p>
      Enter not into judgement with thy servant, O Lord; for in thy sight shall
      no man living be justified. <cite>Psalm 143:2</cite>
    </p>
    <p>
      If we say that we have no sin, we deceive ourselves, and the truth is not
      in us: but if we confess our sins, he is faithful and just to forgive us
      our sins, and to cleanse us from all unrighteousness. <cite
        >1 John 1:8-9</cite
      >
    </p>
  </section>
  <section>
    <p class="hide-when-alone">
      <b>Leader</b>: Dearly beloved brethren, the Scripture moveth us in sundry
      places to acknowledge and confess our manifold sins and wickedness; and
      that we should not dissemble nor cloak them before the face of Almighty
      God our heavenly Father; but confess them with an humble, lowly, penitent,
      and obedient heart; to the end that we may obtain forgiveness of the same,
      by his infinite goodness and mercy. And although we ought at all times
      humbly to acknowledge our sins before God; yet ought we most chiefly so to
      do, when we assemble and meet together to render thanks for the great
      benefits that we have received at his hands, to set forth his most worthy
      praise, to hear his most holy Word, and to ask those things which are
      requisite and necessary, as well for the body as the soul. Wherefore I
      pray and beseech you, as many as are here present, to accompany me with a
      pure heart and humble voice unto the throne of the heavenly grace, saying
      after me:
    </p>
    <p>
      <b>All</b>: Almighty and most merciful Father, we have erred, and strayed
      from thy ways like lost sheep. We have followed too much the devices and
      desires of our own hearts. We have offended against thy holy laws. We have
      left undone those things which we ought to have done. And we have done
      those things which we ought not to have done. And there is no health in
      us. But thou, O Lord, have mercy upon us miserable offenders. Spare thou
      them, O God, which confess their faults. Restore thou them that are
      penitent. According to thy promises declared unto mankind in Christ Jesu
      our Lord. And grant, O most merciful Father, for his sake, that we may
      hereafter live a godly, righteous, and sober life, to the glory of thy
      holy Name. Amen.
    </p>
  </section>
  <section>
    <p class="hide-when-alone priest-only">
      <b>Priest Only</b>: Almighty God, the Father of our Lord Jesus Christ, who
      desireth not the death of a sinner, but rather that he may turn from his
      wickedness, and live; and hath given power, and commandment, to his
      Ministers, to declare and pronounce to his people, being penitent, the
      Absolution and Remission of their sins: He pardoneth and absolveth all
      them that truly repent, and unfeignedly believe his holy Gospel. Wherefore
      let us beseech him to grant us true repentance, and his Holy Spirit, that
      those things may please him, which we do at this present; and that the
      rest of our life hereafter may be pure, and holy; so that at the last we
      may come to his eternal joy; through Jesus Christ our Lord.
    </p>

    <p>
      <b>All</b>: Our Father, which art in heaven, hallowed be thy Name. Thy
      kingdom come, thy will be done, in earth as it is in heaven. Give us this
      day our daily bread. And forgive us our trespasses, as we forgive them
      that trespass against us. And lead us not into temptation, but deliver us
      from evil. For thine is the kingdom, the power, and the glory, For ever
      and ever. Amen.
    </p>
    <p><b>Leader</b>: O Lord, open thou our lips.</p>
    <p><b>All</b>: And our mouth shall shew forth thy praise.</p>
    <p><b>Leader</b>: O God, make speed to save us.</p>
    <p><b>All</b>: O Lord, make haste to help us.</p>
    <p>
      <b>Leader</b>: Glory be to the Father, and to the Son, and to the Holy
      Ghost.
    </p>
    <p>
      <b>All</b>: As it was in the beginning, is now, and ever shall be, world
      without end. Amen.
    </p>
    <p><b>Leader</b>: Praise ye the Lord.</p>
    <p><b>All</b>: The Lord's Name be praised.</p>
  </section>
  <section>
    <h3><em>Venite, Exultemus Domino (Psalm 95)</em></h3>
    <pre>
O come, let us sing unto the Lord,
let us heartily rejoice in the strength of our salvation.
Let us come before his presence with thanksgiving,
and show ourselves glad in him with psalms.
For the Lord is a great God,
and a great King above all gods.
In his hand are all the corners of the earth,
and the strength of the hills is his also.
The sea is his, and he made it,
and his hands prepared the dry land.
O come, let us worship and fall down,
and kneel before the Lord our Maker.
For he is the Lord our God,
and we are the people of his pasture, and the sheep of his hand.
Today if ye will hear his voice, harden not your hearts,
as in the provocation, and as in the day of temptation in the wilderness;
'when your fathers tempted me,
proved me, and saw my works.
Forty years long was I grieved with this generation and said:
“It is a people that do err in their hearts, for they have not known my ways.
Unto whom I sware in my wrath,
that they should not enter into my rest.”'</pre>
    <p>
      <b>All</b>: Glory be to the Father, and to the Son, and to the Holy Ghost.
      As it was in the beginning, is now, and ever shall be, world without end.
      Amen.
    </p>
  </section>
  <section>
    <h3>Psalms of the day</h3>
    <Psalms />
  </section>
  <section class="scripture">
    <h3>First lesson (Old Testament)</h3>
    <h4>{lesson1.book} - Chapter {lesson1.chapter}</h4>
    <p>{lesson1.verses.map((v) => <Fragment set:html={formatVerse(v)} />)}</p>
  </section>
  <section>
    <h3><em>Te Deum Laudamus</em></h3>
    <pre>
We praise thee O God, we acknowledge thee to be the Lord.
All the earth doth worship thee, the Father everlasting.
To thee all Angels cry aloud, the heavens, and all the powers therein.
To thee Cherubin and Seraphin continually do cry, Holy, Holy, Holy, Lord God of Sabaoth;
Heaven and earth are full of the Majesty, of thy glory. 
The glorious company of the Apostles, praise thee. 
The goodly fellowship of the Prophets, praise thee. 
The noble army of Martyrs, praise thee.
The holy Church throughout all the world, doth acknowledge thee;
The Father, of an infinite Majesty;
Thine honourable, true, and only Son;
Also the Holy Ghost, the Comforter.
Thou art the King of Glory, O Christ.
Thou art the everlasting Son, of the Father.
When thou tookest upon thee to deliver man, 
thou didst not abhor the Virgin's womb.
When thou hadst overcome the sharpness of death, 
thou didst open the kingdom of heaven to all believers.
Thou sittest at the right hand of God, in the glory of the Father.
We believe that thou shalt come, to be our Judge.
We therefore pray thee, help thy servants, 
whom thou hast redeemed with thy precious blood.
Make them to be numbered with thy Saints,
in glory everlasting.
O Lord save thy people, and bless thine heritage.
Govern them, and lift them up for ever.
Day by day, we magnify thee;
And we worship thy Name, ever world without end. 
Vouchsafe O Lord, to keep us this day without sin.
O Lord have mercy upon us, have mercy upon us.
O Lord let thy mercy lighten upon us, as our trust is in thee. 
O Lord in thee have I trusted, let me never be confounded.
</pre>
  </section>
  <section>
    <h3>Second lesson (New Testament)</h3>
    <h4>{lesson2.book} - Chapter {lesson2.chapter}</h4>
    <p>{lesson2.verses.map((v) => <Fragment set:html={formatVerse(v)} />)}</p>
  </section>
  <section>
    <h3><em>Benedictus (Luke 1:68-79)</em></h3>
    <p>
      Blessed be the Lord God of Israel, for he hath visited and redeemed his
      people. And hath raised up a mighty salvation for us, in the house of his
      servant David. As he spake by the mouth of his holy Prophets, which have
      been since the world began. That we should be saved from our enemies, and
      from the hand of all that hate us. To perform the mercy promised to our
      forefathers, and to remember his holy Covenant. To perform the oath which
      he sware to our forefather Abraham, that he would give us. That we being
      delivered out of the hand of our enemies, might serve him without fear. In
      holiness and righteousness before him, all the days of our life. And thou,
      Child, shalt be called the Prophet of the Highest, for thou shalt go
      before the face of the Lord to prepare his ways. To give knowledge of
      salvation unto his people, for the remission of their sins. Through the
      tender mercy of our God, whereby the day- spring from on high hath visited
      us. To give light to them that sit in darkness and in the shadow of death,
      and to guide our feet into the way of peace.
    </p>
    <p>
      <b>All</b>: Glory be to the Father, and to the Son, and to the Holy Ghost.
      As it was in the beginning, is now, and shall be forever, world without
      end. Amen.
    </p>
    <p class="info">
      As an alternative to the Benedictus, Psalm 100 may be said, except on the
      19th day of the month when it is appointed in the Lectionary.
    </p>
  </section>
  <section>
    <p>
      <b>All</b>: I believe in God the Father Almighty, Maker of heaven and
      earth: And in Jesus Christ his only Son our Lord, Who was conceived by the
      Holy Ghost, Born of the Virgin Mary, Suffered under Pontius Pilate, Was
      crucified, dead, and buried: He descended into hell; The third day he rose
      again from the dead; He ascended into heaven, And sitteth on the right
      hand of God the Father Almighty; From thence he shall come to judge the
      quick and the dead. I believe in the Holy Ghost; The holy Catholick
      Church; The Communion of Saints; The Forgiveness of sins; The Resurrection
      of the body, And the Life everlasting. Amen.
    </p>
    <div class="hide-when-alone">
      <p><b>Leader</b>: The Lord be with you.</p>
      <p><b>All</b>: And with thy spirit.</p>
      <p><b>Leader</b>: Lord, have mercy upon us.</p>
      <p>
        <b>All</b>: Christ, have mercy upon us. Leader. Lord, have mercy upon
        us.
      </p>
    </div>
    <p>
      <b>All</b>: Our Father, which art in heaven, hallowed be thy Name. Thy
      kingdom come, thy will be done, in earth as it is in heaven. Give us this
      day our daily bread. And forgive us our trespasses, as we forgive them
      that trespass against us. And lead us not into temptation, but deliver us
      from evil. For thine is the kingdom, the power, and the glory, For ever
      and ever. Amen.
    </p>
    <p><b>Leader</b>: O Lord, show thy mercy upon us.</p>
    <p><b>All</b>: And grant us thy salvation.</p>
    <p>
      <b>Leader</b>: O Lord, save the Queen (/President/Prime Minister etc).
    </p>
    <p>
      <b>All</b>: And mercifully hear us when we call upon thee. Leader. Endue
      thy Ministers with righteousness.
    </p>
    <p><b>All</b>: And make thy chosen people joyful.</p>
    <p><b>Leader</b>: O Lord, save thy people.</p>
    <p><b>All</b>: And bless thine inheritance.</p>
    <p><b>Leader</b>: Give peace in our time, O Lord.</p>
    <p>
      <b>All</b>: Because there is none other that fighteth for us, but only
      thou, O God.
    </p>
    <p><b>Leader</b>: O God, make clean our hearts within us.</p>
    <p><b>All</b>: And take not thy Holy Spirit from us.</p>
  </section>
  <section>
    <h3>Collect for today</h3>
  </section>
  <section>
    <h3><em>For Peace</em></h3>
    <p>
      <b>Leader</b>: O God, who art the author of peace and lover of concord, in
      knowledge of whom standeth our eternal life, whose service is perfect
      freedom: Defend us thy humble servants in all assaults of our enemies;
      that we, surely trusting in thy defence, may not fear the power of any
      adversaries; through the might of Jesus Christ our Lord.
    </p>
    <p><b>All</b>: Amen.</p>
    <h3><em>For Grace</em></h3>
    <p>
      <b>Leader</b>: O Lord, our heavenly Father, Almighty and everlasting God,
      who hast safely brought us to the beginning of this day: Defend us in the
      same with thy mighty power; and grant that this day we fall into no sin,
      neither run into any kind of danger; but that all our doings may be
      ordered by thy governance, to do always that is righteous in thy sight;
      through Jesus Christ our Lord.
    </p>
    <p><b>All</b>: Amen.</p>
    <p class="info">A hymn may be sung here.</p>
    <div class="royal-prayers">
      <h3><em>For the Monarch</em></h3>
      <p>
        <b>Leader</b>: O Lord, our heavenly Father, high and mighty, King of
        kings, Lord of lords, the only Ruler of princes, who dost from thy
        throne behold all the dwellers upon earth: Most heartily we beseech thee
        with thy favour to behold our most gracious Sovereign Lady, Queen
        Elizabeth; and so replenish her with the grace of thy Holy Spirit, that
        she may alway incline to thy will, and walk in thy way. Endue her
        plenteously with heavenly gifts. Grant her in health and wealth long to
        live. Strengthen her that she may vanquish and overcome all her enemies;
        and finally after this life she may attain everlasting joy and felicity;
        through Jesus Christ our Lord.
      </p>
      <p><b>All</b>: Amen.</p>

      <h3><em>For the Royal Family</em></h3>
      <p>
        <b>Leader</b>: Almighty God, the fountain of all goodness, we humbly
        beseech thee to bless Charles Prince of Wales, and all the Royal Family:
        Endue them with thy Holy Spirit; enrich them with thy heavenly grace;
        prosper them with all happiness; and bring them to thine everlasting
        kingdom; through Jesus Christ our Lord.
      </p>
      <p><b>All</b>: Amen.</p>
    </div>
    <div class="gov-prayers">
      <h3><em>For the Leader</em></h3>
      <p>
        <b>Leader</b>: O Lord, our heavenly Father, high and mighty, King of
        kings, Lord of lords, the only Ruler of princes, who dost from thy
        throne behold all the dwellers upon earth: Most heartily we beseech thee
        with thy favour to behold our most gracious
        President/Prime-Minister/Chancellor (etc.) and so replenish them with
        the grace of thy Holy Spirit, that they may alway incline to thy will,
        and walk in thy way. Endue them plenteously with heavenly gifts; grant
        them in health and wealth long to live; strengthen them that they may
        vanquish and overcome all their enemies; and finally after this life
        they may attain everlasting joy and felicity; through Jesus Christ our
        Lord.
      </p>
      <p><b>All</b>: Amen.</p>

      <h3><em>For the Political Ministers</em></h3>
      <p>
        <b>Leader</b>: Almighty God, the fountain of all goodness, we humbly
        beseech thee to bless our nation’s Parliament/Senate/Supreme-Court
        (etc.): Endue them with thy Holy Spirit; enrich them with thy heavenly
        grace; prosper them with all happiness; and bring them to thine
        everlasting kingdom; through Jesus Christ our Lord.
      </p>
      <p><b>All</b>: Amen.</p>
    </div>
    <h3><em>For Clergy</em></h3>
    <p>
      <b>Leader</b>: Almighty and everlasting God, who alone workest great
      marvels: Send down upon our Bishops, and Curates, and all Congregations
      committed to their charge, the healthful Spirit of thy grace; and that
      they may truly please thee, pour upon them the continual dew of thy
      blessing. Grant this, O Lord, for the honour of our Advocate and Mediator,
      Jesus Christ.
    </p>
    <p><b>All</b>: Amen.</p>

    <p class="info">Now a time of personal prayer may follow.</p>

    <p class="hide-when-alone">
      Almighty God, who hast given us grace at this time with one accord to make
      our common supplications unto thee; and dost promise that when two or
      three are gathered together in thy Name thou wilt grant their requests:
      Fulfil now, O Lord, the desires and petitions of thy servants, as may be
      most expedient for them; granting us in this world knowledge of thy truth,
      and in the world to come life everlasting.
    </p>
  </section>
  <section>
    <h3><em>The Grace (2 Corinthians 13:14)</em></h3>
    <p>
      <b>All</b>: The grace of the Lord Jesus Christ and the love of God and the
      fellowship of the Holy Ghost, be with us all evermore Amen.
    </p>
  </section>
</Layout>

<style>
  section {
    padding: 1rem 0;
  }
  pre {
    font-family: inherit;
    white-space: pre-wrap;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }

  #intro-sentences p,
  .hide-when-alone,
  .priest-only {
    display: none;
  }

  .psalms :global(h4 + p::first-letter) {
    initial-letter: 2;
    /* padding: 10px; */
    padding-right: 0.5rem;
  }

  :global(.psalms p span) {
    color: var(--light-mode-red);
    font-size: 0.9rem;
  }

  @media (prefers-color-scheme: dark) {
    :global(.psalms p span) {
      color: var(--dark-mode-red);
    }
  }
</style>
