---
export interface Props {
  title: string;
  Info: any;
}

const { title, Info } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>1662 BCP Daily Office - {title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nanum+Myeongjo:wght@400;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav><a href="/">Daily Office</a> | <a href="/settings">Settings</a></nav>
    </header>
    <main>
      <h1><span class="text-gradient">1662 BCP Daily Office</span></h1>
      {Info && <Info />}
      <h2>{title}</h2>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #29cd00 30%,
      white 60%
    );
    --dark-mode-bg-color: #171616;
    --dark-mode-color: #c2c2c2;
    --light-mode-bg-color: #f5f3f1;
    --dark-mode-red: #ff6a6a;
    --light-mode-red: #dd1515;
  }

  html {
    font-family: "Nanum Myeongjo", serif;
    background-color: var(--light-mode-bg-color);
    font-size: 20px;
  }
  body {
    margin: 0;
    background-color: var(--light-mode-bg-color);
    min-height: 100vh;
    color: var(--dark-mode-bg-color);
  }

  header {
    text-align: center;
    padding: 1rem;
  }

  h1,
  h2 {
    padding-block-start: 1rem;
  }

  h2 {
    padding-block-end: 0;
  }

  h3 {
    width: 100%;
    border-bottom: 1px solid;
  }

  .info {
    color: var(--light-mode-red);
    font-style: italic;
  }

  .asterix {
    color: var(--light-mode-red);
    font-size: 0.9rem;
  }

  a {
    text-decoration: none;
  }

  @media (prefers-color-scheme: dark) {
    html,
    body {
      background-color: var(--dark-mode-bg-color);
      color: var(--dark-mode-color);
    }

    .info,
    .asterix {
      color: var(--dark-mode-red);
    }
    a {
      color: #ab79d6;
    }
  }

  input {
    accent-color: #ab79d6;
  }
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
    line-height: 1.8rem;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0 0 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
